.header-container {
  @apply w-full max-w-full; /* Remove top-0 from here */
}

.header-drop {
  @apply rounded-lg transition-all duration-300;
}

.header {
  @apply h-[70px] w-full text-black rounded-lg px-10 py-4 flex items-center sticky top-0;
}

.header--scrolled {
  height: 50px;
}

.header-content {
  @apply flex items-center w-full;
}

.manue-container {
  @apply ml-10 flex items-center justify-around w-full;
}

.menue-ul {
  @apply flex items-center gap-6 relative;
}

.menu-hover {
  @apply w-fit flex items-center gap-1 relative;
}

.menu-item {
  @apply relative flex items-center gap-6 text-black font-medium leading-[18px];
}

.menu-hover::after {
  content: "";
  @apply absolute left-0 bottom-0 top-[23px] w-full h-[0.1px] bg-brand-white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.menu-hover:hover::after {
  transform: scaleX(1);
}

.round-dot {
  @apply w-[7px] h-[7px] rounded-full bg-brand-secondary;
}

.header-search {
  @apply w-[161px] h-[40px] border border-brand-white flex items-center gap-3 rounded-[4px] px-2;
}

.search-input {
  @apply w-full border-none outline-none bg-inherit text-white placeholder:text-brand-white;
}

.left-constainer {
  @apply flex gap-7;
}

/* ******SCROLL BAR****** */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* background: transparent; */
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #0e3e40;
  border-radius: 10px;
}

/* misc styles */
.glass-fx {
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: #ffffff40;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 0 15px -6px #424242; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border-color: rgb(255 255 255 / 0.2); */
}

.transition-fx {
  transition: all 300ms ease-in-out;
}

.hide-scrollbar {
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.visit-hover-fx {
  @apply w-fit flex items-center gap-1 relative;
}

.visit-hover-fx::after {
  content: "";
  @apply absolute left-0 -bottom-[3px] w-full h-[3px] bg-brand-main;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.visit-hover-fx:hover::after {
  transform: scaleX(1);
}

.mantine-Modal-content {
  @apply bg-brand-main p-5;
}
